@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);

body {
	margin: 0;
	background-color: #eee;
	color: #fff;
	font-family: 'Quicksand', arial, sans-serif;
}

#wrapper {
	width: 960px;
  margin: 0 auto;
}

#wrapper-full {
	max-width: 100%;
	height:100%;
	overflow:hidden;
}

/* each page panel */
.item {
	position: relative;
	overflow: hidden;
}
/* the content of each page panel */
.content {
	overflow: auto;
	height: 100%;
}

/* BLURB - Intro section */
#blurb .content {
	text-align: center;
	line-height: .75em;
	padding: 75px 0 0;
	
	/* two toned background */
	height: 100%;
	background: #4cd2d9; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #4cd2d9 0%, #4cd2d9 50%, #5adae0 50%, #5adae0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#4cd2d9), color-stop(50%,#4cd2d9), color-stop(50%,#5adae0), color-stop(100%,#5adae0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #4cd2d9 0%,#4cd2d9 50%,#5adae0 50%,#5adae0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #4cd2d9 0%,#4cd2d9 50%,#5adae0 50%,#5adae0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #4cd2d9 0%,#4cd2d9 50%,#5adae0 50%,#5adae0 100%); /* IE10+ */
	background: linear-gradient(45deg,  #4cd2d9 0%,#4cd2d9 50%,#5adae0 50%,#5adae0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cd2d9', endColorstr='#5adae0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#blurb h1 {
	color: #fff;
	padding-bottom: 20px;
	font-weight: 400;
}

#blurb h2 {
	color: #fff;
	font-weight: bold;
	padding-bottom: 50px;
}

/* About the team */

#team .content {
	background-color: #fff;
	color: #515151;
	padding: 50px 0 0;
	text-align: center;
}

#team strong {
	color: #ff913d;
}

#figures {
	width: 960px;
	margin: auto;
}

#team figure {
	float: left;
}

#team figure > img {
	border:1px solid #;
	/* circle border around bio imgs */
		-webkit-border-radius: 75px;
		-moz-border-radius: 75px;
		border-radius: 75px;
}

figcaption  {
	width: 110px;
	font-size: .75em;
	line-height: .90em;
	text-align: center;
}

/* Description of project*/
#project .content{
	padding: 30px 0px 0;
	
	/* two toned background */
	background: #ff913d; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #ff913d 0%, #ff913d 50%, #ff984a 50%, #ff984a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#ff913d), color-stop(50%,#ff913d), color-stop(50%,#ff984a), color-stop(100%,#ff984a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #ff913d 0%,#ff913d 50%,#ff984a 50%,#ff984a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #ff913d 0%,#ff913d 50%,#ff984a 50%,#ff984a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #ff913d 0%,#ff913d 50%,#ff984a 50%,#ff984a 100%); /* IE10+ */
	background: linear-gradient(45deg,  #ff913d 0%,#ff913d 50%,#ff984a 50%,#ff984a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff913d', endColorstr='#ff984a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#project h1 {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

#project p {
	color: #fff;
	text-align: left;
}

ol  > li{
	padding-top: 10px;
	font-size: 1.25em;
}

#visit .content {
	background-color: #e3e4e6;
	color: #515151;
	padding: 50px 10px 50px;
	text-align: center;
}

.button {
	width: 245px;
	margin: 15px auto;
	font-weight: bold;
	text-align: center;
	display: block;
	border-radius: 5px;
	padding: 15px;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}

.button-blue {
	background-color: #5adae0;
	
}

.button-blue:hover {
	background-color: #61d4d4;
}

.button-gray {
	background-color: #515151;
}

.button-gray:hover {
	background-color: #424242;
}

.button-fixed {
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0px;
}

.clear {
	clear: both;
}

/* HOME PAGE */

nav {
  position: fixed;
  background: #363636;
  width: 100%;
  height: 78px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
  z-index: 9999;
}

nav lu {
	float: left;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #4cd2da;
  text-decoration: underline;
}

nav ul {
	margin: 0;
}

nav li{
  list-style: none;
  display: inline;
  padding: 0 2em;
}

section > header {
	width: 100%;
}

header .title-block {
  padding-top: 78px;
  margin: 0;
	width: 100%;
  background: #5adae2;
  text-align: center;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#4cd2d9), color-stop(50%,#4cd2d9), color-stop(50%,#5adae0), color-stop(100%,#5adae0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, #4cd2d9 0%,#4cd2d9 50%, #5adae0 50%, #5adae0 100%); /* Chrome10+,Safari5.1+ */	
	background: -o-linear-gradient(45deg, #4cd2d9 0%,#4cd2d9 50%, #5adae0 50%, #5adae0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, #4cd2d9 0%,#4cd2d9 50%, #5adae0 50%, #5adae0 100%); /* IE10+ */
	background: linear-gradient(45deg, #4cd2d9 0%,#4cd2d9 50%, #5adae0 50%, #5adae0 100%); /* W3C */
}

.title-block h1 {
	font-size: 4em;
  margin: 0;
  padding: .2em 0 0 0;
  font-weight: 400;
}

.title-block h2 {
  font-size: 2.2em;
  margin: 0;
  padding: 0 0 0 1em;
  font-weight: 300;
}

section {
	width: 960px;
  margin: 0 auto;
}

article {
	background: #fff;
  color: #1c1c1c;
  margin: 1em 0 2em 0;
  padding: 0 0 1em 1em;
}

article header {
  position: relative;
  color: #707071;
  left: -1em;
}

article h1 {
	font-size: 1.5em;
  font-weight: 700;
  background-color: #EEE;
  padding-bottom: .5em;
}

article h2 {
  font-size: 1.2em;
  font-weight: 500;
  margin: 1.5em 0;
}

article ul {
  margin: 1em 0;
}

article li {
  list-style: none;
  border-left: 2px solid #4cd2d9;
  padding-left: 7px;
}

article ul ul{
  padding-left: 7px;
}

article a {
  color: #4cd2d9;
}

code {
	color: rgb(0, 102, 170);
}

dt {
  font-weight: 700;
  margin: 1em 0 0 0;
}

dd {
  margin: 0 0 0 1em;
}

.logo {
  margin-right: 4em;
  opacity: .7;
  transition: opacity .5s ease-in-out;
  font-weight: 500;
}

.logo:hover {
  opacity: 1;
  text-decoration: none;
  color: #FFF;
}

.menu-subtitle {
  display: block;
  font-size: .7em;
}

.item-pseudo {
  border-left: none;
}